---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

		<title>YourS4nty - Portafolio</title>
		<!-- Meta Tags for SEO -->
		<meta
			name="description"
			content="Web and Mobile Applications Developer - YourS4nty's Portfolio"
		/>
		<meta
			name="keywords"
			content="web development, mobile app development, portfolio, YourS4nty"
		/>
		<meta name="author" content="Santiago Gonzalez" />

		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="YourS4nty - Portafolio" />
		<meta
			property="og:description"
			content="Web and Mobile Applications Developer - YourS4nty's Portfolio"
		/>
		<!-- Favicon -->
		<link rel="shortcut icon" href="/My-Logo.svg" type="image/x-icon" />
	</head>

	<body>
		<div class="scroll"></div>

		<nav>
			<img src="/My-Logo.svg" alt="" />
			<p>Santiago Gonzalez</p>
			<ul>
				<li>
					<a
						href="https://github.com/YourS4nty"
						target="_blank"
						aria-label="Go GitHub"
					>
						<svg
							viewBox="0 0 24 24"
							stroke-width="1"
							stroke="#000000"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path>
							<path
								d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
								stroke-width="0"
								fill="currentColor"></path>
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/YourS4nty"
						target="_blank"
						aria-label="Go Instagram"
					>
						<svg
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="transparent"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="transparent"
							></path>
							<path
								d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
							></path>
							<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
							></path>
							<path d="M16.5 7.5l0 .01"></path>
						</svg>
					</a>
				</li>
			</ul>
		</nav>

		<main>
			<div class="me">
				<img
					src="/Me.jpeg"
					alt="Me"
					class="profile-pic"
					loading="lazy"
				/>
				<div>
					<h1 style="color: #fffffe;">YourS4nty</h1>
					<p>Web and Mobile Applications Developer.</p>
					<p>And Your Best Lover :)</p>
				</div>
			</div>
		</main>

		<section>
			<h1 style="font-size: 45px;color: #fffffe;">Services</h1>
			<div class="contentServices">
				<div class="itemS">
					<img src="/Design.svg" alt="DesignImage" loading="lazy" />
					<p>
						Every website is beautiful, unique and tailored to suit
						your needs and requirements.
					</p>
				</div>
				<div class="itemS">
					<img src="/Code.svg" alt="DesignImage" loading="lazy" />
					<p>
						All websites are written in valid and clean HTML5 / CSS3
						& JavaScript (Native).
					</p>
				</div>
				<div class="itemS">
					<img
						src="/Responsive.svg"
						alt="DesignImage"
						loading="lazy"
					/>
					<p>
						All websites are responsive. They will look great on
						desktop, tablets and mobile phones too.
					</p>
				</div>
			</div>
		</section>

		<section style="height: auto;width: 100%; padding: 10%;">
			<h2 style="font-size: 45px; margin: 50px 0;color: #fffffe;">
				Featured projects
			</h2>
			<div class="project-grid">
				<div class="project-card">
					<div class="default-text">Apptesanos</div>
					<img
						src="/Apptesanos.webp"
						alt="Proyecto 1"
						style="object-fit: contain;width: 100%;height: auto;"
						loading="lazy"
					/>
					<div class="project-info">
						<h3>Apptesanos</h3>
						<br />
						<p>
							Collaborated on an Ionic Vue mobile app with the
							'Universidad de Cundinamarca' to optimize
							agricultural supply management through Firebase.
						</p><p>
							Myrole focused on collaborative development and the
							implementation of sustainable agriculture technology
							solutions.
						</p>
						<br />
						<div class="buttons">
							<p class="noLive">No-Live</p>
							<a
								href="https://github.com/YourS4nty/ApptesanosApp"
								target="_blank">Source</a
							>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="default-text">AI Game</div>
					<img src="/aigame.webp" alt="Proyecto 6" loading="lazy" />
					<div class="project-info">
						<h3>Ai Game</h3>
						<br />
						<p>
							Created a Rock, Paper, Scissors game using native
							JavaScript with a simulated AI opponent. This
							project demonstrates my proficiency in developing
							interactive web applications, incorporating game
							mechanics and basic AI concepts.
						</p><p>
							Enjoy the classic challenge in a user-friendly
							interface, showcasing my front-end development and
							game logic skills.
						</p>
						<br />
						<div class="buttons">
							<a
								href="https://ai-game-eta.vercel.app"
								target="_blank">Live</a
							>
							<a
								href="https://github.com/YourS4nty/Ai-Game"
								target="_blank">Source</a
							>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="default-text">Ph- Logo Maker</div>
					<img src="/ph.webp" alt="Proyecto 3" loading="lazy" />
					<div class="project-info">
						<h3>Ph - Logo Maker</h3>
						<br />
						<p>
							Developed an image generator inspired by the layout
							of a well-known logo using HTML, CSS, and native
							JavaScript.
						</p>
						<p>
							This project showcases my creativity in web design
							and front-end development, blending visual elements
							and interactivity for a unique and engaging user
							experience.
						</p>
						<br />
						<div class="buttons">
							<a
								href="https://ph-maker.vercel.app"
								target="_blank">Live</a
							>
							<a
								href="https://github.com/YourS4nty/PH-LogoMaker"
								target="_blank">Source</a
							>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="default-text">Sudoku Solver</div>
					<img src="/sudoku.webp" alt="Proyecto 4" loading="lazy" />
					<div class="project-info">
						<h3>SudokuSolver</h3>
						<br />
						<p>
							Implemented a Sudoku solver algorithm with HTML,
							CSS, and native JavaScript. This project
							demonstrates my proficiency in algorithmic
							problem-solving and web application development.
						</p>
						<p>
							Users can experience the efficiency of the Sudoku
							solver, showcasing my skills in logic and front-end
							implementation using core web technologies.
						</p>
						<br />
						<div class="buttons">
							<a
								href="https://sudoku-solver-black.vercel.app"
								target="_blank">Live</a
							>
							<a
								href="https://github.com/YourS4nty/SudokuSolver"
								target="_blank">Source</a
							>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="default-text">Rest - Api</div>
					<img
						src="/Api.webp"
						alt="Proyecto 5"
						style="object-fit: contain;"
						loading="lazy"
					/>
					<div class="project-info">
						<h3>Rest - Api</h3>
						<br />
						<p>
							Designed and implemented a basic RESTful API using
							Node.js and Express, showcasing my proficiency in
							server-side solutions, efficient endpoint
							management, and handling HTTP requests.
						</p>
						<p>
							This project serves as a foundation for scalable and
							responsive web applications, highlighting my backend
							development skills with Node.js and Express.
						</p>
						<br />
						<div class="buttons">
							<a
								href="https://yours4nty-80731625c628.herokuapp.com"
								target="_blank">Live</a
							>
							<a
								href="https://github.com/YourS4nty/Ys4Api"
								target="_blank">Source</a
							>
						</div>
					</div>
				</div>
				<div class="project-card">
					<div class="default-text">Pokedex</div>
					<img src="/pokedex.webp" alt="Proyecto 2" loading="lazy" />
					<di class="project-info">
						<h3>PokeDex</h3>
						<br />
						<p>
							Designed and implemented a Pokedex with HTML, CSS,
							and native JavaScript, utilizing the PokeAPI. This
							project highlights my expertise in front-end
							technologies, API integration, and creating engaging
							web applications with real-world data.
						</p>
						<p>
							Explore the Pokemon world seamlessly with this
							user-friendly Pokedex.
						</p>
						<br />
						<div class="buttons">
							<a
								href="https://ys4pokedex.vercel.app"
								target="_blank">Live</a
							>
							<a
								href="https://github.com/YourS4nty/PokeDex"
								target="_blank">Source</a
							>
						</div>
					</di>
				</div>
			</div>
		</section>

		<article>
			<header>Tools & Tecnologies</header>
			<div class="images">
				<img src="/Html.svg" alt="Html" loading="lazy" />
				<img src="/Css.svg" alt="Css" loading="lazy" />
				<img src="/Js.svg" alt="js" loading="lazy" />
				<img src="/Node.svg" alt="Node" loading="lazy" />
				<img src="/Python.svg" alt="Python" loading="lazy" />
				<br />
				<img src="/Vue.svg" alt="Vue" loading="lazy" />
				<img src="/Ionic.svg" alt="Ionic" loading="lazy" />
				<img src="/Vscode.svg" alt="Vscode" loading="lazy" />
				<img src="/Github.svg" alt="Github" loading="lazy" />
			</div>
		</article>

		<footer>
			<div class="AboutMe">
				<h2 style="color: #fff;">About Me</h2>
				<br />
				<p>
					Hello, I'm Santiago Gonzalez, a dedicated web and mobile app
					developer with proficiency in HTML, CSS, andJS (both native
					and Vue.js). I am passionate about transforming ideas into
					digital solutions and thrive on tackling challenging
					projects.
				</p>
				<p>
					My primary objective is to craft intuitive and functional
					user experiences. I am constantly eager tolearn new
					technologies and enhance my skills, ensuring that I remain
					current in this dynamic digital landscape.
				</p>
				<p>Let's collaborate to create something extraordinary!</p>
			</div>

			<div class="contact">
				<h2 style="color: #fff;">Contact</h2>
				<br />
				<p>
					Feel free to get in touch with me. You can find me on this
					platforms:
				</p>
				<br />
				<div class="social-icons">
					<a
						href="https://instagram.com/YourS4nty"
						target="_blank"
						aria-label="Go Instagram"
					>
						<svg
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path>
							<path
								d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
							></path>
							<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
							></path>
							<path d="M16.5 7.5l0 .01"></path>
						</svg>
					</a>
					<a
						href="https://github.com/YourS4nty"
						target="_blank"
						aria-label="Go Github"
					>
						<svg
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="#000000"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path>
							<path
								d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
								stroke-width="0"
								fill="currentColor"></path>
						</svg>
					</a>
					<a
						href="https://twitter.com/YourS4nty"
						target="_blank"
						aria-label="Go Twitter"
					>
						<svg
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path>
							<path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
							<path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"
							></path>
						</svg>
					</a>
				</div>
			</div>
		</footer>
	</body>

	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			text-wrap: balance;
			overflow-x: hidden;
		}

		body::-webkit-scrollbar {
			display: none;
		}

		.scroll {
			width: 7px;
			background: linear-gradient(to top, #7f5af0, transparent);
			border-radius: 0 0 10px 10px;
			position: fixed;
			top: 0;
			right: 0;
			animation: scrolling auto linear;
			animation-timeline: scroll(root block);
		}

		@keyframes scrolling {
			from {
				height: 0%;
			}

			to {
				height: 100%;
			}
		}

		a,
		i {
			overflow: hidden;
		}

		body {
			font-family: "Arial", sans-serif;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			color: #b8c1ec;
			/* Background Inspired BY Temani Afif - Dark Mode */
			/* --s: 50px;
    --c: #191b22;
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
    background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
    background-attachment: fixed; */
			/* Background Inspired BY Temani Afif - Dark Mode */
			background-color: #16161a;

			/* Scrolling */
			scrollbar-width: thin;
			scrollbar-color: transparent transparent;
			overflow: -moz-scrollbars-none;
			-ms-overflow-style: none;
			/* Scrolling */
		}

		.me {
			height: 100vh;
			width: 100%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 35px;
			color: #94a1b2;
			gap: 20px;
		}

		.me div {
			width: 50%;
		}

		nav {
			width: 80%;
			height: 80px;
			position: fixed;
			top: 0;
			color: #7f5af0;
			display: flex;
			justify-content: space-around;
			align-items: center;
			border-radius: 0 0 10px 10px;
			z-index: 999;
			animation: headerEffect linear both;
			animation-timeline: scroll(root block);
			animation-range: 0 500px;
		}

		@keyframes headerEffect {
			to {
				background: rgba(255, 255, 255, 0.3);
				backdrop-filter: blur(4px);
				/* width: 50%; */
				color: #000;
			}
		}

		nav p {
			height: 0px;
			overflow: hidden;
			text-align: center;
			color: #000;
			font-weight: bold;
			animation: headerText linear both;
			animation-timeline: scroll(root block);
			animation-range: 0 500px;
		}

		@keyframes headerText {
			to {
				height: auto;
			}
		}

		nav img {
			width: 55px;
			border-radius: 50%;
		}
		
		nav ul svg {
			width: 40px;
		}

		nav a {
			color: inherit;
			transition: color 0.4s ease;

			&:hover {
				color: #2cb67d;
			}
		}

		nav ul {
			list-style: none;
			display: flex;
			font-size: 35px;
		}

		nav svg {
			width: 45px;
			height: auto;
		}

		.profile-pic {
			width: 250px;
			height: 250px;
			border-radius: 10px;
			object-fit: cover;
			margin-bottom: 20px;
		}

		h1,
		h2,
		p {
			margin: 0;
		}

		section {
			height: 80vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		section:nth-child(4) {
			width: 80%;
			height: auto;
		}

		.contentServices {
			width: 90%;
			height: 50%;
			margin: auto;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}

		.contentServices img {
			width: 120px;
			margin: 20px;
		}

		.itemS {
			text-align: center;
		}

		.project-grid {
			max-width: 1050px;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			grid-template-rows: repeat(2, 300px);
			gap: 20px;
			margin-top: 20px;
		}

		.project-card {
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			transition: opacity 1s;
			background-color: #22272b;
			color: #e0e0e0;
			animation: revelImg linear both;
			animation-timeline: view();
			animation-range: entry 50% cover 10%;
		}

		@keyframes revelImg {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		.project-card .default-text {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #271b4a;
			color: white;
			padding: 10px;
			text-align: center;
		}

		.project-card .buttons {
			display: flex;
			justify-content: space-evenly;
			margin-top: 10px;
		}

		.project-card .buttons a {
			text-decoration: none;
			background: #7f5af0;
			color: #fffffe;
			padding: 7px 12px;
			border-radius: 5px;
			transition: all 0.3s;
		}

		.noLive {
			cursor: pointer;
			text-decoration: none;
			background: #e52e2e;
			color: whitesmoke;
			padding: 7px 12px;
			border-radius: 5px;
			transition: all 0.3s;
		}

		.project-card .buttons a:hover {
			background-color: #2cb67d;
			translate: 0 -4px;
		}

		.project-card img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}

		.project-card:hover img {
			opacity: 0.5;
			transform: scale(1.5);
		}

		.project-info {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #232946;
			color: white;
			padding: 10px;
			text-align: center;
			opacity: 0;
			transform: translateY(100px);
			transition:
				opacity 0.5s,
				transform 0.4s;
		}

		.project-card:hover .project-info {
			opacity: 1;
			transform: translateY(0);
		}

		.project-card:hover .default-text {
			opacity: 0;
		}

		article {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
		}

		article header {
			margin: 35px auto;
			font-size: 50px;
		}

		.images {
			height: auto;
			overflow: hidden;
			text-align: center;
			justify-content: center;
			align-items: center;
		}

		.images img {
			width: 100px;
			margin: 10px;
			transition:
				transform 0.3s,
				color 0.3s;
			cursor: pointer;
			position: relative;
		}

		.images img:hover {
			transform: scale(1.2);
			filter: invert(30%) sepia(85%) saturate(5133%) hue-rotate(139deg)
				brightness(99%) contrast(94%);
		}

		footer {
			height: 100vh;
			width: 80%;
			display: flex;
			gap: 35px;
			justify-content: space-evenly;
			align-items: center;
		}

		.AboutMe {
			width: 60%;
		}

		.AboutMe p {
			margin: 10px 0;
		}

		.social-icons a svg {
			width: 50px;
			margin: 10px;
			font-size: 35px;
			color: white;
			transition: scale 0.3s ease;

			&:hover {
				color: #7f5af0;
				scale: 1.2;
			}
		}

		/* Responsive */

		@media (width < 750px) {
			nav {
				width: 100%;
				justify-content: space-evenly;
			}

			@keyframes headerEffect {
				to {
					background: rgba(255, 255, 255, 0.4);
					backdrop-filter: blur(4px);
					width: 100%;
					color: #121629;
				}
			}

			.me {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.me div {
				text-align: center;
				width: auto;
			}

			.me img {
				width: 250px;
			}

			body > section:nth-child(3) {
				height: auto;
			}

			.contentServices {
				width: 100%;
				height: auto;
				margin: 50px 0;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(3, 1fr);
			}

			body > section:nth-child(4) {
				width: 100%;
				height: auto;
				text-align: center;
				justify-content: center;
				padding: 35px;
			}

			.project-grid {
				padding: none;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(6, 350px);
			}

			body > section:nth-child(5) > h2 {
				text-align: center;
			}

			.project-card {
				animation: none;
			}

			article {
				text-align: center;
			}

			.images {
				display: flex;
				flex-wrap: wrap;
			}

			footer {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			.AboutMe {
				width: 80%;
			}
			.AboutMe p {
				text-align: start;
			}
		}

		@media (width < 450) {
			.project-grid {
				grid-template-rows: repeat(6, 300px);
			}
		}
	</style>
</html>
