<section>
	<h2>
		<svg
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path
				d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
			></path>
			<path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
			<path d="M12 12l0 .01"></path>
			<path d="M3 13a20 20 0 0 0 18 0"></path>
		</svg>
		Work Experience
	</h2>

	<ol>
		<li>
			<div></div>
			<time>Present (2023 - Now)</time>
			<h3>Freelance Developer & Photographer</h3>
			<p>
				Working independently as a full-stack web developer and amateur
				photographer. I specialize in backend development using <strong
					>Node.js</strong
				> and create custom
				<strong>Java</strong> and <strong>SkriptLang</strong> plugins for
				Minecraft, including minigames. I also pursue photography as a creative
				outlet, complementing my development work by offering visually engaging
				content and unique perspectives for client projects.
			</p>
			<a href="https://github.com/YourS4nty" target="_blank">
				Portfolio & Code
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9"></path>
				</svg>
			</a>
		</li>

		<li>
			<div></div>
			<time>June 2022 – March 2023</time>
			<h3>Web Developer</h3>
			<p>
				Built and maintained modern web applications using HTML, CSS,
				JavaScript, and backend tools. Helped improve developer
				workflows by introducing continuous integration and deployment.
				Collaborated closely with designers and backend engineers to
				deliver functional user experiences.
			</p>
		</li>

		<li>
			<div></div>
			<time>September 2021 – January 2022</time>
			<h3>Frontend & Backend Engineer</h3>
			<p>
				Led the development of full-stack features across multiple
				applications. Enhanced deployment pipelines and optimized
				performance. Boosted software delivery speed by 30% through
				automation and smart tooling.
			</p>
		</li>
	</ol>
</section>

<style>
	section {
		width: 50%;
		margin: auto;
	}

	section h2 {
		color: #fffc;
		font-size: 1.875rem;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.75rem;
	}

	section h2 svg {
		width: 1.75rem;
		height: 1.75rem;
	}

	ol {
		position: relative;
		border-left: 1px solid #ccc;
		padding-left: 1.5rem;
	}

	li {
		position: relative;
		padding: 40px 10px;
	}

	li div {
		position: absolute;
		width: 0.75rem;
		height: 0.75rem;
		background: #101017;
		border: 1px solid #ccc;
		border-radius: 50%;
		left: -1.93rem;
		top: 45px;
	}

	time {
		font-size: 0.875rem;
		color: #bae6fdcc;
	}

	h3 {
		font-size: 1.125rem;
		font-weight: 600;
		color: rgb(254 240 138);
		margin-top: 0.5rem;
	}

	li p {
		color: rgb(229 231 235);
		font-size: 1em;
		line-height: 1.6rem;
		margin-top: 0.5rem;
		text-wrap: pretty;
	}

	li a {
		display: inline-flex;
		align-items: center;
		margin-top: 1rem;
		padding: 0.7em 1.1em;
		font-size: 0.8rem;
		border: 1px solid #ffffff1a;
		background-color: #ffffff0d;
		color: #fff;
		gap: 0.4rem;
		border-radius: 9999px;
		text-decoration: none;
		transition: transform 0.2s ease;
	}

	li a:hover {
		transform: scale(1.05);
	}

	li svg {
		width: 0.8rem;
		height: 0.8rem;
		margin-left: 0.4rem;
	}

	@media (width < 850px) {
		section {
			width: 80%;
		}
	}
</style>
